<h2 class="page-header">Zaloguj się..</h2>
<form method="post" action="/users/login">
  <div class="form-group">
    <label>Imię</label>
    <input type="text" class="form-control" name="username" placeholder="Wpisz Imie">
  </div>
  <div class="form-group">
    <label>Hasło</label>
    <input type="password" class="form-control" name="password" placeholder="Wpisz Hasło">
  </div>
  <button type="submit" class="btn btn-default">Potwierdz</button>
</form>
